.CreateNewRaport-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  .CreateNewRaport-items{
    width: 100%;
  }
  
  .Observers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 40px;
    padding: 0.5rem;
    margin: 10px auto;
    border-radius: 0.4rem;
    background-color: #f4f4f4;
  }
  
  .Observers span {
    margin-left: 8px; 
  }
  
  .Observer-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
  }

  .bold-text {
    font-weight: 600;
  }

.CreateNewRaport-container hr {

    border: 1px solid #e0e0e0;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .CreateNewRaport-container .MuiButton-root {
    margin-top: 2rem;
  }
  
  .MuiAutocomplete-listbox {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  .FormControl {
    width: 100%;
    margin-top: 0.8rem;
  }
  