.observation {
  border: 1px solid #ccc;
  padding: 25px;
  margin: 10px auto; /* Center the box horizontally */
  text-align: center;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  border-radius: 15px;
  max-width: 300px;
  width: 100%;
}

.observation:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: 2px, black;
  width: 100px;
  border: 1px solid white;
}

#button:hover {
  background-color: #2980b9; 
}
