.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(90, 134, 255);
  height: 80px;
  padding: 1rem 2rem 1rem 2rem;
  text-align: center;
  font-size: x-large;
  color: #fff;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}






